<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org"
		  th:frament="HeaderFrag">
		  
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">happy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">love</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
		  
</th:block>