<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org"
		  th:fragment="HeaderFrag">
		  
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true" href="#">ㅎㅇ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/boardList}">게시글 구경</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/boardInsert}">끄적끄적</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">ㅂㅇ</a>
  </li>
</ul>
		  
</th:block>