<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>등록_insert.html</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<form name="insertForm" th:action="@{/deptInsert}" method="post">
		<h3>부서 정보 등록</h3>
		<div>
			<label for="did">부서 번호</label>
			<input type="number" id="did" name="departmentId">
		</div>
		<div>
			<label for="dname">부서 이름</label>
			<input type="text" id="dname" name="departmentName">
		</div>
		<div>
			<label for="mid">매니저 ID</label>
			<input type="number" id="mid" name="managerId">
		</div>
		<div>
			<label for="lid">지역 번호</label>
			<input type="number" id="lid" name="locationId">
		</div>
		<div>
			<button type="submit">등록</button>
		</div>
	</form>

	<script>
		$('form[name="insertForm"]').on('submit', insertHandler);

		function insertHandler() {
			event.preventDefault();

			let did = $('input[name="departmentId"]');
			if (did.val() == '') {
				alert('부서 번호를 입력해주세요.');
				did.focus();
				return;
			}

			let dname = $('input[name="departmentName"]');
			if (dname.val() == '') {
				alert('부서 이름을 입력해주세요.');
				dname.focus();
				return;
			}

			let mid = $('input[name="managerId"]');
			if (mid.val() == '') {
				alert('매니저 ID를 입력해주세요.');
				mid.focus();
				return;
			}

			let lid = $('input[name="locationId"]');
			if (lid.val() == '') {
				alert('지역 번호를 입력해주세요.');
				lid.focus();
				return;
			}
			
			insertForm.submit();
		}
	</script>
</body>

</html>